@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');


/* VARIABLE CSS */
:root {
    --header-height: 3.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.25rem !important;
}

body {
    background-color: #F2F2F2;
    color: black;
    font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3 {
    color: black;
    font-weight: 1.25rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}


img {
    max-width: 100%;
    height: auto;
}

/* THEME */
.change-theme {
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover {
    color: black;
}



/* REUSABLE CSS CLASSES */
.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}


.section {
    padding: 6rem 0 1rem;
}

.section-title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #eb5d1e;
    text-align: center;
}



.section-subtitle {
    display: block;
}

/* NAVBAR */

#navbarheader {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    line-height: 300px;
}

.navbar .container-fluid .navbar-brand {
    color: #7a6960;
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

}

.navbar .container-fluid .navbar-brand:hover {
    font-size: 1.75rem;
    font-family: 'Poppins', sans-serif;
}


.navbar-brand::first-letter {
    color: #eb5d1e;

}

.navbar-brand::first-letter:hover {
    color: white;

}

.myNav>a {
    font-size: 1.5rem;
}

.navbar-light .container-fluid .navbar-nav .nav-link.active {
    color: #eb5d1e;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

.navbar-light .container-fluid .navbar-nav .nav-link {
    color: rgb(122, 105, 96);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}


.navbar-light .container-fluid .navbar-nav .nav-link:hover {
    color: #eb5d1e;
}


.navbar-light .container-fluid .navbar-nav .nav-link.contact {
    background-color: #eb5d1e;
    color: white;
    border-radius: 8rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.navbar-light .container-fluid .navbar-nav .nav-link.contact:hover {
    background-color: white;
    color: #eb5d1e;
}


/* HOME */
#home {
    background-color: #Fff;
    max-width: 100%;
    width: 100%;
}

.home-container {
    position: relative;
    row-gap: 1.5rem;
    /* height: 100vh; */
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 100px;
}

.home-img img {
    max-width: 100%;
    border-radius: 1.5rem;
    justify-self: center;
    text-align: center;
    height: auto;

}

.home-data {
    text-align: left;
    padding-top: 7rem;
    color: #4e4039;

}

.home-greeting {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 36px;
}

.home-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.home span {
    color: #eb5d1e;
    font-family: 'Inter', sans-serif;

}

.home-description {
    position: relative;
    top: 1rem;
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home-icon {
    font-size: 1.5rem;
    color: #eb5d1e;
    /* background-color: #F2F2F2; */
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.home-icon-link:hover {
    transform: scale(1.5);
}

.home-icon-link {
    font-size: 18px;
    display: inline-block;
    background: #eb5d1e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

/* BUTTONS */

.button {
    display: inline-block;
    background-color: #eb5d1e;
    color: black;
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: 1.25rem;
    transition: .4s;
}

.home-data .btn-primary {
    color: white;
    background-color: #eb5d1e;
    border: solid #eb5d1e;
    width: 140px;
    height: 43px;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 15px;
}

.home-data .btn-primary:hover {
    color: #eb5d1e;
    background-color: white;
    border: solid #eb5d1e;
}

.home-data .btn-outline-primary {
    color: #eb5d1e;
    background-color: white;
    border: solid #eb5d1e;
    padding-left: 40px;
    text-align: center;
    width: 140px;
    height: 43px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    margin-top: 1.2rem;
    position: relative;
    top: 15px;
    left: 10px;
}

.home-data .btn-outline-primary:hover {
    color: white;
    background-color: #eb5d1e;
    border: solid #eb5d1e;
}

/* ABOUT */
#about {
    background-color: #F2F2F2;
}

.about-container {
    row-gap: 2.5rem;
    margin-bottom: 4rem;
}

.img-container {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about-img {
    width: 220;
    text-align: center;
}

.about-data {
    justify-self: center;
    text-align: center;
}

.about-data h4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.about-description {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-data .btn-primary {
    color: white;
    background-color: #eb5d1e;
    border: solid #eb5d1e;
    padding-left: 40px;
    justify-content: center;
    width: 140px;
    height: 43px;
    margin: 0 auto;
    padding: 0rem;
    display: table-cell;
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: 1.2rem;
    position: relative;
    top: 15px;
    /* text-align: center; */
}

.about-data .btn-primary:hover {
    color: #eb5d1e;
    background-color: white;
    border: solid #eb5d1e;
}

.about-data .btn-outline-primary {
    color: #eb5d1e;
    background-color: white;
    border: solid #eb5d1e;
    padding-left: 40px;
    justify-content: center;
    width: 140px;
    height: 43px;
    margin: 0 auto;
    padding: 0rem;
    display: table-cell;
    vertical-align: middle;
    margin-top: 1.2rem;
    position: relative;
    top: 15px;
    left: 10px;
}

.about-data .btn-outline-primary:hover {
    color: white;
    background-color: #eb5d1e;
    border: solid #eb5d1e;

}

/* SKILL */

#skill {
    background-color: #Fff;
}

.skill-container {
    text-align: center;
    row-gap: 2.5rem;
    margin-bottom: 4rem;
}

.skill-img {
    max-width: 100%;
    border-radius: 1.5rem;
    justify-self: center;
    height: auto;
}

.skill-data {
    text-align: center;
}

.skill-item {
    border: 4px solid #e5e5e5;
    color: #eb5d1e;
    margin-left: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    padding: .25rem;
}

.skill-item:hover {
    background-color: #eb5d1e;
    color: white;
}

.skill-subcontent {
    margin-top: 1.7rem;
}

.skill-description {
    margin-top: 1.2rem;
}

.skill-data .btn.btn-primary.btn-sm {
    color: white;
    background-color: #eb5d1e;
    border: solid #eb5d1e;
    padding-left: 20px;
    text-align: center;
    width: 140px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    margin-top: 1.2rem;
}

.skill-data .btn.btn-primary.btn-sm:hover {
    background-color: white;
    color: #eb5d1e;
}

/* SERVICES */

#services {
    background-color: #F2F2F2;
}

.services-container {
    gap: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 4rem;

}

.services-card {
    background-color: #fff;
    padding: 1rem;
    border-bottom: #eb5d1e;
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
}

.services-title {
    font-size: 26px;
    margin-bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
}

.services-button {
    color: #eb5d1e;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.services-button:hover .services-icon {
    transform: translateX(.25rem);
}

.services-icon {
    font-size: 1rem;
    transition: .4s;
    font-weight: 700;
}

/* SERVICES MODAL */
.services-modal {
    position: fixed;
    inset: 0;
    background-color: #eb5d1e;
    color: black;
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    z-index: 100;
}

.services-modal-content {
    position: absolute;
    background-color: white;
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services-modal-title,
.services-modal-description {
    text-align: center;
}

.services-modal-title {
    font-size: 2.25rem;
    color: #eb5d1e;
    margin-bottom: 1rem;
}

.services-modal-description {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.services-modal-list {
    display: grid;
    row-gap: .75rem;
}

.services-modal-item {
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}

.services-modal-icon {
    font-size: 1.5rem;
    color: black;
}

.services-modal-info {
    font-size: 1rem;
}

.services-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

/* ACTIVE MODAL */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* WORK */
#work {
    background-color: #Fff;
}

.work-container {
    margin-bottom: 4rem;
}



.work-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work-item {
    cursor: pointer;
    color: black;
    padding: .25rem .75rem;
    font-weight: 600;
    border-radius: .5rem;
}

.work-card {
    background-color: #fff;
    padding: 1rem;
    border: solid #9095a7;
    border-radius: .7rem;
    position: relative;
    /* width: 50%; */
}

.work-subcontainer {
    height: 350px;
    padding: 2rem;
    text-align: center;
    background-color: #e5e5e5;
    color: black;
}

.work-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .7rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.work-card:hover .work-overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;
}

.work-img {
    border-radius: .5rem;
    margin-bottom: .75rem;
    height: 250px;
}

.work-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: .25rem;
    display: flex;
    justify-content: center;
    color: black;
}

.work-button:hover .work-icon {
    transform: translateX(.25rem);
}

.work-icon {
    transition: .4s;
    display: flex;
    justify-content: space-between;
}

.work-icon svg {
    width: 40px;
    height: 40px;
}

.work-maintag {
    padding-top: 10px;
    display: inline-block;
}

.work-description {
    text-align: center;
}

/* ACTIVE ITEM WORK */
.active-work {
    background-color: #e5e5e5;
    color: #eb5d1e;

}

/* CONTACT */

#contact {
    background-color: #F2F2F2;
}

.contact-box {
    background: #fff;
    box-shadow: 1px 5px 10px 10px #9095a7;
    border: 2px solid #fff;
}

.contact-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    color: #eb5d1e;
    text-align: center;
}

.contact-right {
    color: #eb5d1e;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 145%;

}

input {
    width: 100%;
    padding-bottom: 5px;
}

input.form-control {
    width: 100%;
    border: 2px solid #e5e5e5;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    border-radius: 1px solid #e5e5e5;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

.contact-left .btn-primary {
    color: white;
    background-color: #eb5d1e;
    border: solid #eb5d1e;
    margin-right: 60px;
    width: 140px;
    height: 43px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.contact-left .btn-primary:hover {
    background-color: white;
    color: #eb5d1e;
    border: 2px solid #eb5d1e;
}

.contact-right-data {
    display: flex;
    margin-left: 1rem;
    position: relative;
    margin-bottom: 20px;
    color: #eb5d1e;
}

.contact-right-icon {
    font-size: 1.2rem;
    margin-right: 2rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
}

.contact-right-icon:hover {
    color: white;
    background-color: #eb5d1e;
}

.contact-right-link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 600;
    word-break: break-all;
    color: #212529;
}

.contact-right p {
    padding-right: 20px;
    font-size: 1.1rem;
    text-decoration: none;
}

/* FOOTER */
#footer {
    background-color: #fff;
}


.footerbox h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 10px;
    line-height: 2.6;
    text-align: center;
}

.footerbox p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
    padding-top: 10px;
    line-height: 2.6;
    text-align: center;
}

.footerbox h3::first-letter {
    color: #eb5d1e;
}

/* SCROLL TO TOP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99999;
    font-size: 18px;
    border: none;
    outline: none;
    transition: 300ms all;
    background-color: #eb5d1e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: all 0.4s;
    font-size: 2rem;

}

#myBtn:hover {
    transform: translateY(10px);
}


/* BREAKPOINTS */
/* FOR SMALL DEVICES */


@media screen and (min-width: 320px) {

    .home-data {
        text-align: center;
        padding-top: 1rem;
    }

    .home-img img {
        justify-self: center;
        padding-top: 1rem;
        height: auto;
        width: 100%;
    }

    .home-icon {
        font-size: 2rem;
    }

    .about-container {
        margin-top: 10px;
    }


    .img-container {
        justify-self: center;
    }

    .about-img {
        position: relative;
        z-index: 2;
        justify-self: center;
    }

    .img-container::before {
        content: "";
        position: absolute;
        height: 212px;
        width: 240px;
        top: 1108px;
        left: 1rem;
        border: 4px dashed #EB5D1E;
        z-index: 2;
    }

    .about-data {
        text-align: center;
    }

    .skill-data {
        text-align: center;
    }

    .skill-img {
        justify-self: center;
    }

    .services-container {
        justify-content: center;
    }

    .work-card {
        justify-content: center;
        padding: 1.25rem;
    }

    .work-container {
        gap: 3rem;
    }

    .work-card {
        padding: 1.25rem;
    }

    .work-filters {
        column-gap: .25rem;
    }

}

@media screen and (min-width: 320px) and (max-width: 475px) {

    .home-name {
        font-size: 1.9rem;
    }

    .home-subname {
        font-size: 1.6rem;
    }

    .footerbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .contact-container {
        margin-bottom: 20px;
    }

    .contact-box {
        padding: .5rem;
    }

    .contact-right-data {
        margin-top: 20px;
    }

    .contact-right {
        position: relative;
        top: 50px;
        color: #eb5d1e;
        margin-bottom: 60px;
    }


}

@media screen and (min-width: 375px) {

    .about-img {
        position: relative;
        z-index: 999;
        justify-self: center;
    }

    .img-container::before {
        content: "";
        position: absolute;
        height: 212px;
        width: 240px;
        /* left: 50px; */
        left: 3.5rem;
        top: 1140px;
        border: 4px dashed #EB5D1E;
        z-index: 2;
    }

    /* .services-card {
        padding: 5rem 2rem 1.5rem;
    } */
}

/* FOR MEDIUM DEVICES */
@media screen and (min-width: 425px) {

    .container {
        max-width: 425px;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .home-data {
        text-align: center;
    }

    .home-img img {
        justify-self: center;
    }


    .about-img {
        position: relative;
        z-index: 2;
        justify-self: center;
    }

    .img-container::before {
        content: "";
        position: absolute;
        height: 212px;
        width: 240px;
        left: 78px;
        top: 1114px;
        border: 4px dashed #EB5D1E;
        z-index: 2;
    }

    .services-container {
        grid-template-columns: repeat(2, max-width);
        justify-content: center;
    }

    .services-modal-content {
        width: 500px;
        /* padding: 2rem 2rem 2rem; */
        /* padding: 4.5rem 2.5rem 2.5rem; */
    }

    .services-modal-description {
        padding: 0 3.5rem;
    }

    .work-container {
        justify-content: center;
    }

    .work-img {
        width: 350px;
    }

}

@media screen and (min-width: 768px) {

    #home {
        max-width: 100%;
        height: auto;
    }

    .home-img img {
        height: 350px;
        justify-self: center;
    }


    .home-data {
        text-align: center;
    }

    .home-icon {
        font-size: 2.5rem;
    }

    .img-container {
        justify-self: center;
        padding-top: 1rem;
    }


    .about-img {
        position: relative;
        z-index: 2;
    }

    .img-container::before {
        content: "";
        position: absolute;
        height: 212px;
        width: 240px;
        top: 1159px;
        left: 240px;
        border: 4px dashed #EB5D1E;
        z-index: 2;
    }

    .about-data {
        text-align: center;
    }

    .skill-data {
        text-align: center;
    }

    .skill-img {
        height: 350px;
        justify-self: center;

    }

    .work-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* FOR LARGE SCREEN */
@media screen and (min-width: 1024px) {


    .section {
        padding: 2rem 0 1rem;
    }

    .section-title {
        position: relative;
        bottom: -5px;
    }

    .navbar .container-fluid .navbar-brand {
        color: black;
        position: relative;
        left: 2rem;
        font-size: 1.75rem;
        font-family: 'Inter', sans-serif;
    }

    .navbar-light .container-fluid .navbar-nav .nav-link {
        color: rgb(122, 105, 96);
        font-size: 1.2rem;
        font-family: 'Inter', sans-serif;
    }

    .navbar-light .container-fluid .navbar-nav {
        color: rgb(122, 105, 96);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        position: relative;
        left: 110px;
        gap: 1rem;
    }

    .home-icon {
        font-size: 2.6rem;
        text-align: left;
    }

    .home-icon-link {
        font-size: 18px;
        display: inline-block;
        background: #eb5d1e;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }

    .img-container {
        justify-self: right;
        width: 320px;
    }

    .home-img img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: 72px;
        left: 2px;
    }

    .home-container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 3rem;
    }

    .home-data {
        text-align: left;
        position: relative;
        left: 0.7rem;
        top: 86px;

    }

    .about-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .about-img {
        width: 220;
        text-align: center;
        position: relative;
        z-index: 2;
        padding-bottom: 1rem;
        justify-self: right;

    }

    .img-container::before {
        content: "";
        position: absolute;
        height: 334px;
        width: 300px;
        left: 132px;
        top: 783px;
        border: 4px dashed #EB5D1E;
        z-index: 2;
    }


    .about-data {
        position: relative;
        top: 17px;
    }

    .about-data h4 {
        position: relative;
        top: 17px;
    }

    .about-data {
        text-align: left;
        justify-self: left;
    }

    .skill-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .skill-img {
        max-width: 100%;
        height: auto;
        justify-self: left;
        position: relative;
    }

    .skill-data {
        text-align: right;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .work-container {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .work-card {
        padding: 1.25rem;
    }

    .work-img {
        margin-bottom: 1rem;
    }

    .work-title {
        margin-bottom: .5rem;
    }

    .contact-container {
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .contact-box {
        padding: 1.5rem;
    }

    .contact-right,
    .contact-left {
        padding: 2rem;
    }

    .footerbox {
        display: flex;
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem;
    }


}

@media screen and (min-width: 1440px) {

    .navbar .container-fluid .navbar-brand {
        color: black;
        position: relative;
        padding-left: 4.8rem;
        font-size: 1.75rem;
        font-family: 'Inter', sans-serif;
    }

    .navbar-light .container-fluid .navbar-nav {
        color: rgb(122, 105, 96);
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        position: relative;
        padding-left: 280px;
        gap: 1rem;
    }

    .home-data {
        position: relative;
        left: 4px;
        top: 132px;
    }


    .about-img {
        width: 220;
        text-align: center;
        position: relative;
        z-index: 2;
        padding-bottom: 1rem;
        justify-self: right;
    }

    .img-container::before {
        content: "";
        position: absolute;
        height: 334px;
        width: 300px;
        left: 390px;
        top: 810px;
        border: 4px dashed #EB5D1E;
        z-index: 2;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.7rem;
    }

    .work-container {
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .footerbox {
        display: flex;
        justify-content: space-between;
        padding-left: 8rem;
        padding-right: 8rem;
    }


}